/* .calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */
  
  .display {
    margin-bottom: 10px;
  }
  
  .keypad {
    padding: 10px;
  }
  
  button {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-left: 10px;
  }